<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      p {
        font-size: 10.0pt;
        font-family: "Century Gothic","sans-serif";
      }
      #team {
        color: #e36c0a;
      }
      .team-text{
        color: #1f497d;
      }
    </style>
  </head>
  <body>
    <p>Hello <%= @employee.first_name.capitalize %>,</p>

    <p>
      You have earned <%= @points %> points and have <%= @reward %> waiting for you! Please check-in with the front desk at the Mack or Morse building to receive further instructions to redeem your reward.
    </p>
    <p>
      MorseLife Health System appreciates the time you spent in consideration when referring <%= @referral.first_name.capitalize %>. We encourage you to visit our careers page at <a href="www.morselifecareers.org">www.morselifecareers.org</a> and continue to <a href="http://morselifereferrals.herokuapp.com/">refer individuals</a> that will impact the organization.
    </p>


    <p>Thank you for all that you do,</p>

    <p>
      <span id='team'>Employee Referral Team | MorseLife Health System</span>
      <br>
      <span class='team-text'>4847 Fred Gladstone Drive | West Palm Beach, FL  33417</span>
      <br>
      <span class='team-text'>phone (561) 471-5111 | fax (561) 688-0807 </span>
    </p>
  </body>
</html>
