body
  -webkit-backface-visibility: hidden
#application
  border-radius: 7px
  background-color: #fafcfe
  max-width: 1366px
  margin: auto
  height: 100%
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
  -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
  .ui-container
    padding: 5% 5% 0 5%
  #menu
    z-index: 1
    height: 70px
    width: 100%
    position: fixed
    max-width: 1366px
    top: 0
    .ui.icon.menu
      margin-bottom: 0
      .item
        color: rgba(255,255,255,.85)
    #welcome
      border-top-left-radius: 7px
      box-shadow: 0 -1px 5px rgba(0,0,0,.3)
      width: 260px
      background: #1eade5
      padding: 0
      background-image: image-url('background.png')
      background-size: contain
      background-repeat: no-repeat
      img
        top: 0
        position: absolute
      .menu.item
        height: 100%
    #dashboard-sidebar
      background-color: white
      width: 260px
      height: 100vh
      box-shadow: 0 4px 5px rgba(0,0,0,.3)
      .ui.secondary.vertical.menu
        margin: auto
        margin-top: 0
        border-radius: 0
        height: 100%
        padding: 30% 5% 5% 5%
        .item
          color: #337ab7

  .bg-gradient-main
    border-radius: 0
    border-top-left-radius: 7px
    border-top-right-radius: 7px
    border-bottom-right-radius: 4px

    border: none
    height: 100%
    background: -moz-linear-gradient(-65deg, #008fe2 0, #00b29c 100%)
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #008fe2), color-stop(100%, #00b29c))
    background: -webkit-linear-gradient(-65deg, #008fe2 0, #00b29c 100%)
    background: -o-linear-gradient(-65deg, #008fe2 0, #00b29c 100%)
    background: -ms-linear-gradient(-65deg, #008fe2 0, #00b29c 100%)
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%)
  #content
    padding-top: 65px
    padding-left: 260px
