body
  -webkit-backface-visibility: hidden
html,body
  height: 100%
#application
  overflow: hidden
  +display-flex
  +flex-direction-row
  +flex-grow(1)
  background-color: #fafcfe
  width: 100%
  margin: auto
  height: 100vh
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
  -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
  #menu
    height: 70px
    width: 317px
    min-width: 317px
    .ui.icon.menu
      margin-bottom: 0
      .item
        color: rgba(255,255,255,.85)
    #welcome
      width: 100%
      border-top-left-radius: 7px
      box-shadow: 0 -1px 5px rgba(0,0,0,.3)
      background: #1eade5
      padding: 0
      background-image: image-url('background.png')
      background-size: contain
      background-repeat: no-repeat
      img
        top: 0
        position: absolute
      .menu.item
        height: 100%
    #dashboard-sidebar
      background-color: #fafcfe
      box-shadow: 0 4px 5px rgba(0,0,0,.3)
      .ui.fluid.large.vertical.menu
        padding-top: 50px
  .bg-gradient-main
    border-radius: 0
    border: none
    height: 100%
    background: -moz-linear-gradient(-65deg, #008fe2 0, #00b29c 100%)
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #008fe2), color-stop(100%, #00b29c))
    background: -webkit-linear-gradient(-65deg, #008fe2 0, #00b29c 100%)
    background: -o-linear-gradient(-65deg, #008fe2 0, #00b29c 100%)
    background: -ms-linear-gradient(-65deg, #008fe2 0, #00b29c 100%)
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%)
  #content
    +display-flex
    +flex-direction-row(false)
    +flex-grow(1)
    overflow: hidden
    #inner-menu
      height: 70px
      a.item
        color: white
    #dash-content
      overflow: scroll
      padding: 2% 2% 2% 2%

.ui.divider > .icon
  font-size: 2rem
.new-menu
  select
    color: #333
    padding: 2px 5px
  .menu
    margin: 0
    -webkit-border-radius: 0
    border-radius: 0
.ui.inverted.teal.menu
  background-color: #1eade5
.ui.menu.new-menu > .item
  background-color: #568eda
  &:hover
    background-color: #568eda
.ui.labeled.icon.buttons .button, .ui.labeled.icon.button
  a
    color: white
.menu-footer
  border-radius: 50px