
Hello <%= @employee.first_name.capitalize %>,

You have earned <%= @points %> points and have <%= @reward %> waiting for you! Please check-in with the front desk at the Mack or Morse building to receive further instructions to redeem your reward.

MorseLife Health System appreciates the time you spent in consideration when referring <%= @referral.first_name.capitalize %>. We encourage you to visit our careers page at <a href="www.morselifecareers.org">www.morselifecareers.org</a> and continue to <a href="http://morselifereferrals.herokuapp.com/">refer individuals</a> that will impact the organization.

Thank you for all that you do,

Employee Referral Team | MorseLife Health System
4847 Fred Gladstone Drive | West Palm Beach, FL  33417
phone (561) 471-5111 | fax (561) 688-0807
